Source: ros-kinetic-bagger
Section: misc
Priority: extra
Maintainer: Brenden Gibbons <bgibbons@squarerobots.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-roslint, ros-kinetic-rostest, ros-kinetic-std-msgs
Homepage: http://www.ros.org/wiki/bagger
Standards-Version: 3.9.2

Package: ros-kinetic-bagger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-std-msgs
Description: An application used to systematically record rosbags
