Source: ros-noetic-bagger
Section: misc
Priority: optional
Maintainer: Brenden Gibbons <bgibbons@squarerobots.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-roslint, ros-noetic-rostest, ros-noetic-std-msgs
Homepage: http://www.ros.org/wiki/bagger
Standards-Version: 3.9.2

Package: ros-noetic-bagger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-runtime, ros-noetic-rosbag, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-rostest, ros-noetic-std-msgs
Description: An application used to systematically record rosbags
